// widescreen 
@include mediaXl {
    
}









// tablet
@include mediaMd {
    
    header {
        
        .menu-btn {
            
            &-line {
                background-color: $secondary-color;
            }
        }
    }
    
    main {
        align-items: center; 
        text-align: center;
		padding-left: 2rem; 
		padding-right: 2rem; 
    }
    
 
    
    
    
    h1.home-heading-prim {
        line-height: 1; 
        margin-bottom: 1rem; 
        font-size: 2.6rem;
    }
    
    h2.home-heading-sub {
        font-size: 3.4rem;
    }
	
	
    
    
	.icon-sm {
		width: 2.2rem;
		height: 2.2rem; 
		font-size: 18px; 
	}
	
	.icon-lg {
		width: 4rem; 
		height: 4rem; 
		font-size: 24px; 
	}
	
	.portrait-lg {
		width: 175px; 
		height: 175px; 
		background: url(../img/portrait.jpg);
	}

	
	
	
    ul.menu-nav, div.menu-branding {
        float: none; 
        width: 100%; 
        min-height: 0; 
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px; 
        
    }
    
    .menu-branding {
        height: 30vh; 
        transform: translate3d(100%, 0, 0); 
        
        .portrait {
            background: url("../img/portrait_small.jpg");
            width: 135px;
            height: 135px; 
            background-position: center;
        }
    }
    
	
	
	

	main#home {
		.icons  a{
			padding: 0.8rem;
		}

		hr {
			height: 1px;
			width: 75px;
			margin: 10px
		}

		.heading h2 {
			top: -50px; 
		}
	}

	
	
	
	
	
    #work {
        
		.slider {
			
			&-section {
				
				.project {
					display: block; 
					text-align: center;

				}
			}
		}
    }
	
	
	
	
    
    main#about {
        
        .my-info {
            display: block;
            
            .img-container {
                margin: 0 0 40px 0; 
            }
            
            .bio {
				margin-top: 20px; 
				padding: 0 20px; 
            }
        }
		
		.container {
			display: block; 
			text-align: center;
			margin: 20px; 
			
			.col {
				margin: 15px auto; 
				width: 100%; 
			}
		}
        
    }
	
	main#contact {
		
		.container {
			width: 100%; 
			
			.col {
				width: 100%; 
				
				&:nth-child(2) {
					float: none; 
				}
			}
		}
		
	}
    

    
}

// smart phone
@include mediaSm {
    
    main {
        padding: .5rem;
    }
    
    h1.home-heading-prim {
        line-height: 1; 
        margin-bottom: 1rem; 
        font-size: 2rem;
    }
    
    h2.home-heading-sub {
        font-size: 2.6rem;
    }
    
    main#home {
		
		.heading {
			
			h2 {
				top: -38px; 
			}
		}
        
        hr {
            width: 50px;
            margin: 3px auto;
        }
        
        .icons {
            margin-top: 20px; 
        }
        
        .heading-container h2.sm-heading {
            top: -35px;
        }
        
        .fa-2x {
            font-size: 25px;
        }
    }
    
    
    main#about {
        h2.sub-heading {
            font-size: 2rem; 
        }
    }
    
    
    main#work {
        
        .projects {
            
            .project-col {
   
                .overlay h2.proj-num {
                    width: 75px;
                    height: 75px;
                    font-size: 2.5rem;
                }
            }
        }
        
    }
    
    
    main.main-info {
        
        h2.sub-heading {
            font-size: 2rem; 
        }
        
        a, p {
            font-size: .8rem; 
            margin: 2px 0; 
        }
    }
	
	
    

    
    

}