// widescreen 
@include mediaXl {
    
}

// desktop/laptop
@include mediaLg {
    
}

// tablet
@include mediaMd {
    
    header {
        
        .menu-btn {
            
            .btn-line {
                background-color: $secondary-color;
            }
        }
    }
    
    main {
        align-items: center; 
        text-align: center;

    }
    
    main#home {
        .icons  a{
            padding: 0.8rem;
        }
        
        hr {
            height: 1px;
            width: 75px;
        }
        
        .heading-container h2 {
            top: -50px;  
        }
    }
    
    
    
    
    h1.lg-heading {
        line-height: 1; 
        margin-bottom: 1rem; 
        font-size: 2.6rem;
    }
    
    h2.sm-heading {
        font-size: 3.4rem;
    }
    
    
    
    
    
    ul.menu-nav, div.menu-branding {
        float: none; 
        width: 100%; 
        min-height: 0; 
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px; 
    }
    
    .menu-branding {
        height: 25vh; 
        transform: translate3d(100%, 0, 0); 
        
        .portrait {
            background: url("../img/portrait.jpg");
            width: 135px;
            height: 135px; 
            background-position: center;
        }
    }
    
    main#work {
        
        .projects {
            
            .project-col {
                flex: 100%; 
                max-width: 100%; 
                
            }
        }
        
    }
    
    main#about {
        
        .about-info {
            flex-direction: column;
            
            .bio-img-container {
                margin: 0 0 40px 0; 
            }
            
            .bio {
                padding-right: 0;
                
                .bio-text {
                    font-weight: 400; 
                    margin-top: 10px;  
                }
            }
        }
        h2.sub-heading {
            font-size: 2.5rem;
            margin-bottom: -20px;
        }
        
        .icons-row {
            margin: 50px 0; 
        }
        
        .fa-6x {
            font-size: 50px;
        }
        
    }
    
    main.main-info {
        
        h1.lg-heading {
            margin-bottom: 0;
            letter-spacing: -0.5px;
        }
        
        h2.sub-heading {
            font-size: 2.5rem;
        }
        
        a, p {
            font-size: .9rem;
            margin: 3px 0;

        }
    }
    
}

// smart phone
@include mediaSm {
    
    main {
        padding: 1rem;
    }
    
    h1.lg-heading {
        font-size: 1.9rem;
    }
    
    h2.sm-heading {
        font-size: 2.4rem;
    }
    
    main#home {
        
        hr {
            width: 50px;
            margin: 0;
        }
        
        .icons {
            margin-top: 20px; 
        }
        
        .heading-container h2.sm-heading {
            top: -35px;
        }
        
        .fa-2x {
            font-size: 25px;
        }
    }
    
    
    main#about {
        h2.sub-heading {
            font-size: 2rem; 
        }
    }
    
    
    main#work {
        
        .projects {
            
            .project-col {
   
                .overlay h2.proj-num {
                    width: 75px;
                    height: 75px;
                    font-size: 2.5rem;
                }
            }
        }
        
    }
    
    
    main.main-info {
        
        h2.sub-heading {
            font-size: 2rem; 
        }
        
        a, p {
            font-size: .8rem; 
            margin: 2px 0; 
        }
    }
    
    

}