// widescreen 
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// desktop/laptop
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// tablet
@include mediaMd {
    main {
        align-items: center; 
        text-align: center;

    }
    
    main#home .icons  a{
        padding: 0.8rem;
    }
    
    main#home hr {
        height: 1px;
    }
    
    h1.lg-heading {
        line-height: 1; 
        margin-bottom: 1rem; 
        font-size: 3.5rem;
    }
    
    h2.sm-heading {
        font-size: 1.2rem;
    }
    
    
    
    ul.menu-nav, div.menu-branding {
        float: none; 
        width: 100%; 
        min-height: 0; 
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px; 
    }
    
    .menu-branding {
        height: 25vh; 
        transform: translate3d(100%, 0, 0); 
        
        .portrait {
            background: url("../img/portrait.jpg");
            width: 135px;
            height: 135px; 
            background-position: center;
        }
    }
    
}

// smart phone
@include mediaSm {
    
    h1.lg-heading {
        font-size: 2.5rem;
    }
    
    h2.sm-heading {
        font-size: 0.9rem;
    }
    
    .fa-2x {
        font-size: 25px;
    }
    
    
    .projects {
        grid-template-columns: 1fr; 
    }
}